Repository mikejsmith1985/devsmith-modular-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: app:portal, app:review, app:logs, app:analytics, app:build, tech:frontend, tech:backend, tech:docker, tech:database, type:tests, type:docs, type:config, type:dependencies, infra:gateway, infra:ci-cd

.github/labeler.yml:

# Auto-labeling configuration for PRs based on files changed

# Apps
'app:portal':
  - changed-files:
    - any-glob-to-any-file: 'apps/platform-*/**'

'app:review':
  - changed-files:
    - any-glob-to-any-file: 'apps/review-*/**'

'app:logs':
  - changed-files:
    - any-glob-to-any-file: 'apps/logs-*/**'

'app:analytics':
  - changed-files:
    - any-glob-to-any-file: 'apps/analytics-*/**'

'app:build':
  - changed-files:
    - any-glob-to-any-file: 'apps/build-*/**'

# Tech stack
'tech:frontend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-frontend/**'

'tech:backend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-backend/**'

'tech:docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', '**/docker-compose.yml']

'tech:database':
  - changed-files:
    - any-glob-to-any-file: ['**/alembic/**', '**/models/**']

# Type
'type:tests':
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.*', '**/*.spec.*', '**/tests/**']

'type:docs':
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

'type:config':
  - changed-files:
    - any-glob-to-any-file: ['**/.github/**', '**/*.yml', '**/*.yaml', '**/*.json']

'type:dependencies':
  - changed-files:
    - any-glob-to-any-file: ['**/package.json', '**/package-lock.json', '**/requirements.txt']

# Infrastructure
'infra:gateway':
  - changed-files:
    - any-glob-to-any-file: 'gateway/**'

'infra:ci-cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

chore: update copilot-activity.md from revert
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: update copilot-activity.md from revert
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: merge copilot-activity updates
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: merge copilot-activity updates
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: final copilot-activity.md update
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: final copilot-activity.md update
  .docs/devlog/copilot-activity.md
Labels: type:docs

fix(ci): add pull-requests write permission to auto-create-pr workflow
  .github/workflows/auto-create-pr.yml
Labels: type:config, infra:ci-cd

fix(ci): add pull-requests write permission to auto-create-pr workflow
  .github/workflows/auto-create-pr.yml
Labels: type:config, infra:ci-cd

feat(review): implement Preview Mode for Review service (#3)
  .docs/devlog/copilot-activity.md
  .docs/issues/005-copilot-review-skim-mode.md
  .docs/issues/006-copilot-review-scan-mode.md
  .docs/issues/007-copilot-review-detailed-mode.md
  .docs/issues/008-copilot-review-critical-mode.md
  .docs/issues/009-copilot-logs-service-foundation.md
  .docs/issues/010-copilot-logs-websocket-streaming.md
  .docs/issues/TEMPLATE-COPILOT.md
  AI_CHANGELOG.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

feat(review): implement Preview Mode for Review service (#3)
  .docs/devlog/copilot-activity.md
  .docs/issues/005-copilot-review-skim-mode.md
  .docs/issues/006-copilot-review-scan-mode.md
  .docs/issues/007-copilot-review-detailed-mode.md
  .docs/issues/008-copilot-review-critical-mode.md
  .docs/issues/009-copilot-logs-service-foundation.md
  .docs/issues/010-copilot-logs-websocket-streaming.md
  .docs/issues/TEMPLATE-COPILOT.md
  AI_CHANGELOG.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

chore: merge activity log after PR #3 merge
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: merge activity log after PR #3 merge
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: merge activity log after sync
  .docs/devlog/copilot-activity.md
Labels: type:docs

chore: merge activity log after sync
  .docs/devlog/copilot-activity.md
Labels: type:docs

feat(scripts): add automated sync-and-start-issue script
  scripts/sync-and-start-issue.sh
Labels: none

feat(scripts): add automated sync-and-start-issue script
  scripts/sync-and-start-issue.sh
Labels: none

feat(ci): add auto-sync workflow for next issue branch creation
  .docs/devlog/LOGGING-SYSTEM.md
  .github/workflows/README.md
  .github/workflows/auto-sync-next-issue.yml
Labels: type:docs, type:config, infra:ci-cd

docs(workflow): update branch creation workflow for auto-created branches
  .github/copilot-instructions.md
  ARCHITECTURE.md
Labels: type:docs, type:config

docs(issues): create Issues #012-#016 to complete 16-issue MVP
  .docs/issues/012-copilot-portal-dashboard-ui.md
  .docs/issues/013-copilot-review-ui-integration.md
  .docs/issues/014-copilot-analytics-dashboard-ui.md
  .docs/issues/015-copilot-logs-dashboard-ui.md
  .docs/issues/016-copilot-e2e-integration-setup.md
Labels: type:docs

ci(quality): add strict build validation and code quality checks
  .docs/TROUBLESHOOTING.md
  .github/copilot-instructions.md
  .github/workflows/test-and-build.yml
  .golangci.yml
Labels: type:docs, type:config, infra:ci-cd

docs(spec): update AI model spec to deepseek-coder:6.7b with RAM-based selection
  .docs/CONTINUE-SETUP.md
  .docs/issues/016-copilot-e2e-integration-setup.md
  ARCHITECTURE.md
  Requirements.md
Labels: type:docs

feat(review, infra): fix test DB setup, migrations, and pre-commit failures
  .docs/devlog/copilot-activity.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  cmd/portal/Dockerfile
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/review/Dockerfile
  cmd/review/handlers/preview_handler.go
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  config/config.go
  docker-compose.yml
  docker/nginx/nginx.conf
  docker/postgres/init-schemas.sql
  go.mod
  go.sum
  internal/portal/db/user_repository.go
  internal/portal/db/user_repository_test.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/portal/services/github_client_test.go
  internal/review/db/migrations/20251020_001_create_review_sessions_table.sql
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
  internal/review/services/review_service.go
  internal/review/services/skim_service.go
  internal/review/services/skim_service_test.go
  scripts/start-review.sh
  scripts/wait-for-postgres.sh
  tests/integration/review_skim_mode_test.go
Labels: tech:docker, tech:database, type:tests, type:docs, type:config

docs(tdd): add comprehensive TDD workflow to issues #006-#008 and update tooling
  .docs/issues/006-copilot-review-scan-mode.md
  .docs/issues/007-copilot-review-detailed-mode.md
  .docs/issues/008-copilot-review-critical-mode.md
  .github/copilot-instructions.md
Labels: type:docs, type:config

docs(tdd): add comprehensive TDD workflow to issues #009-#016
  .docs/issues/009-copilot-logs-service-foundation.md
  .docs/issues/010-copilot-logs-websocket-streaming.md
  .docs/issues/011-copilot-analytics-service-foundation.md
Labels: type:docs

docs(tdd): add comprehensive TDD workflow to issues #014-#016
  .docs/issues/014-copilot-analytics-dashboard-ui.md
  .docs/issues/015-copilot-logs-dashboard-ui.md
  .docs/issues/016-copilot-e2e-integration-setup.md
Labels: type:docs

docs(activity): update copilot activity log from pre-commit hook
  .docs/devlog/copilot-activity.md
Labels: type:docs

docs(tdd): add comprehensive TDD workflow to issues #012-#013
  .docs/issues/012-copilot-portal-dashboard-ui.md
  .docs/issues/013-copilot-review-ui-integration.md
Labels: type:docs

docs(activity): final devlog update from feature branch
  .docs/devlog/copilot-activity.md
Labels: type:docs

feat(hooks): update post-commit to skip devlog on feature branches
  .claude/hooks/README.md
  .claude/hooks/post-commit
Labels: type:docs

docs(roles): create comprehensive team roles and responsibilities document
  .docs/DevSmithRoles.md
Labels: type:docs

docs(roles): create comprehensive team roles and responsibilities document
  .docs/DevSmithRoles.md
Labels: type:docs

docs(tdd): add Pre-RED validation checklist to reduce iterations
  DevsmithTDD.md
Labels: type:docs

docs(tdd): add Pre-RED validation checklist to reduce iterations
  DevsmithTDD.md
Labels: type:docs

feat(review): implement Scan Mode service and tests
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  internal/review/models/review.go
  internal/review/services/interfaces.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
Labels: tech:database

feat(review): implement Scan Mode service and tests
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  internal/review/models/review.go
  internal/review/services/interfaces.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
Labels: tech:database

chore(review): commit all remaining Scan Mode and integration changes
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  internal/review/services/interfaces.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: type:tests

chore(review): commit all remaining Scan Mode and integration changes
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  internal/review/services/interfaces.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: type:tests

docs(copilot): add explicit gh pr create command to workflow
  .github/copilot-instructions.md
Labels: type:docs, type:config

docs(copilot): add explicit gh pr create command to workflow
  .github/copilot-instructions.md
Labels: type:docs, type:config

Issue #006: Review Service - Scan Mode (#5)
  .docs/DevSmithRoles.md
  .github/copilot-instructions.md
  DevsmithTDD.md
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  internal/review/models/review.go
  internal/review/services/interfaces.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config
