Repository mikejsmith1985/devsmith-modular-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: app:portal, app:review, app:logs, app:analytics, app:build, tech:frontend, tech:backend, tech:docker, tech:database, type:tests, type:docs, type:config, type:dependencies, infra:gateway, infra:ci-cd

.github/labeler.yml:

# Auto-labeling configuration for PRs based on files changed

# Apps
'app:portal':
  - changed-files:
    - any-glob-to-any-file: 'apps/platform-*/**'

'app:review':
  - changed-files:
    - any-glob-to-any-file: 'apps/review-*/**'

'app:logs':
  - changed-files:
    - any-glob-to-any-file: 'apps/logs-*/**'

'app:analytics':
  - changed-files:
    - any-glob-to-any-file: 'apps/analytics-*/**'

'app:build':
  - changed-files:
    - any-glob-to-any-file: 'apps/build-*/**'

# Tech stack
'tech:frontend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-frontend/**'

'tech:backend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-backend/**'

'tech:docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', '**/docker-compose.yml']

'tech:database':
  - changed-files:
    - any-glob-to-any-file: ['**/alembic/**', '**/models/**']

# Type
'type:tests':
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.*', '**/*.spec.*', '**/tests/**']

'type:docs':
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

'type:config':
  - changed-files:
    - any-glob-to-any-file: ['**/.github/**', '**/*.yml', '**/*.yaml', '**/*.json']

'type:dependencies':
  - changed-files:
    - any-glob-to-any-file: ['**/package.json', '**/package-lock.json', '**/requirements.txt']

# Infrastructure
'infra:gateway':
  - changed-files:
    - any-glob-to-any-file: 'gateway/**'

'infra:ci-cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

fix: resolve golangci-lint errors for CI
  apps/portal/handlers/auth_handler.go
  cmd/logs/main.go
  cmd/portal/main.go
  internal/common/debug/routes.go
  internal/review/db/review_repository_test.go
  tests/integration/dashboard_cookie_integration_test.go
  tests/integration/portal_login_integration_test.go
  tests/unit/middleware_jwt_auth_test.go
Labels: type:tests

feat(review): implement Review UI with 5 reading modes and analysis display
  apps/review/handlers/ui_handler.go
  apps/review/handlers/ui_handler_test.go
  apps/review/static/css/review.css
  apps/review/static/js/analysis.js
  apps/review/static/js/review.js
  apps/review/templates/analysis.templ
  apps/review/templates/home.templ
  apps/review/templates/layout.templ
Labels: none

feat(review): implement Review UI with 5 reading modes and analysis display
  apps/review/handlers/ui_handler.go
  apps/review/handlers/ui_handler_test.go
  apps/review/static/css/review.css
  apps/review/static/js/analysis.js
  apps/review/static/js/review.js
  apps/review/templates/analysis.templ
  apps/review/templates/home.templ
  apps/review/templates/layout.templ
Labels: none

test: significantly expand test coverage for handlers
  apps/review/handlers/ui_handler_test.go
  cmd/portal/handlers/auth_handler_test.go
Labels: none

test: significantly expand test coverage for handlers
  apps/review/handlers/ui_handler_test.go
  cmd/portal/handlers/auth_handler_test.go
Labels: none

refactor(pre-commit): exclude untestable main packages from coverage calculation
  .cursor/settings.json
  .cursorrules
  apps/review/handlers/ui_handler.go
  apps/review/handlers/ui_handler_test.go
  cmd/logs/handlers/websocket_handler_test.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/review/handlers/review_handler_test.go
  go.mod
  go.sum
  internal/analytics/db/aggregation_repository_test.go
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/portal/interfaces/auth_interface_test.go
  internal/portal/models/user_test.go
  internal/portal/services/auth_service_test.go
  internal/review/db/review_repository_test.go
  internal/review/models/review_test.go
Labels: tech:database, type:config

refactor(pre-commit): exclude untestable main packages from coverage calculation
  .cursor/settings.json
  .cursorrules
  apps/review/handlers/ui_handler.go
  apps/review/handlers/ui_handler_test.go
  cmd/logs/handlers/websocket_handler_test.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/review/handlers/review_handler_test.go
  go.mod
  go.sum
  internal/analytics/db/aggregation_repository_test.go
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/portal/interfaces/auth_interface_test.go
  internal/portal/models/user_test.go
  internal/portal/services/auth_service_test.go
  internal/review/db/review_repository_test.go
  internal/review/models/review_test.go
Labels: tech:database, type:config

test: clean up linter warnings in model test files
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/portal/interfaces/auth_interface_test.go
  internal/portal/models/user_test.go
  internal/review/models/review_test.go
Labels: tech:database

test: clean up linter warnings in model test files
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/portal/interfaces/auth_interface_test.go
  internal/portal/models/user_test.go
  internal/review/models/review_test.go
Labels: tech:database

test: fix remaining linter warnings using JSON analysis
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/review/models/review_test.go
Labels: tech:database

test: fix remaining linter warnings using JSON analysis
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/review/models/review_test.go
Labels: tech:database

test: final linter fix - eliminate ALL warnings
  internal/analytics/models/analytics_test.go
  internal/portal/models/user_test.go
  internal/review/models/review_test.go
Labels: tech:database

test: final linter fix - eliminate ALL warnings
  internal/analytics/models/analytics_test.go
  internal/portal/models/user_test.go
  internal/review/models/review_test.go
Labels: tech:database

feat(review): Review Service - UI Integration (Issue #013) (#15)
  .cursor/settings.json
  .cursorrules
  apps/review/handlers/ui_handler.go
  apps/review/handlers/ui_handler_test.go
  apps/review/static/css/review.css
  apps/review/static/js/analysis.js
  apps/review/static/js/review.js
  apps/review/templates/analysis.templ
  apps/review/templates/home.templ
  apps/review/templates/layout.templ
  cmd/portal/handlers/auth_handler_test.go
  cmd/review/handlers/review_handler_test.go
  go.mod
  go.sum
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/portal/interfaces/auth_interface_test.go
  internal/portal/models/user_test.go
  internal/portal/services/auth_service_test.go
  internal/review/models/review_test.go
Labels: tech:database, type:config

feat(review): Review Service - UI Integration (Issue #013) (#15)
  .cursor/settings.json
  .cursorrules
  apps/review/handlers/ui_handler.go
  apps/review/handlers/ui_handler_test.go
  apps/review/static/css/review.css
  apps/review/static/js/analysis.js
  apps/review/static/js/review.js
  apps/review/templates/analysis.templ
  apps/review/templates/home.templ
  apps/review/templates/layout.templ
  cmd/portal/handlers/auth_handler_test.go
  cmd/review/handlers/review_handler_test.go
  go.mod
  go.sum
  internal/analytics/models/analytics_test.go
  internal/logs/models/log_test.go
  internal/portal/interfaces/auth_interface_test.go
  internal/portal/models/user_test.go
  internal/portal/services/auth_service_test.go
  internal/review/models/review_test.go
Labels: tech:database, type:config

fix(tests): skip database integration tests when database unavailable
  apps/analytics/handlers/ui_handler.go
  apps/analytics/handlers/ui_handler_test.go
  apps/analytics/static/css/analytics.css
  apps/analytics/static/js/analytics.js
  apps/analytics/templates/components/anomaly_card.templ
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table.templ
  apps/analytics/templates/components/issues_table_templ.go
  apps/analytics/templates/dashboard.templ
  apps/analytics/templates/dashboard_templ.go
  apps/analytics/templates/layout.templ
  apps/analytics/templates/layout_templ.go
  apps/portal/templates/dashboard_templ.go
  apps/review/templates/analysis_templ.go
  apps/review/templates/home_templ.go
  apps/review/templates/layout_templ.go
  cmd/analytics/main.go
  coverage_analytics.out
  coverage_combined.out
  coverage_full.out
  coverage_internal_analytics.out
  coverage_internal_only.out
  coverage_total.out
  internal/analytics/handlers/analytics_handler_test.go
  internal/portal/db/user_repository_test.go
  tests/integration/review_skim_mode_test.go
Labels: type:tests

fix(tests): skip database integration tests when database unavailable
  apps/analytics/handlers/ui_handler.go
  apps/analytics/handlers/ui_handler_test.go
  apps/analytics/static/css/analytics.css
  apps/analytics/static/js/analytics.js
  apps/analytics/templates/components/anomaly_card.templ
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table.templ
  apps/analytics/templates/components/issues_table_templ.go
  apps/analytics/templates/dashboard.templ
  apps/analytics/templates/dashboard_templ.go
  apps/analytics/templates/layout.templ
  apps/analytics/templates/layout_templ.go
  apps/portal/templates/dashboard_templ.go
  apps/review/templates/analysis_templ.go
  apps/review/templates/home_templ.go
  apps/review/templates/layout_templ.go
  cmd/analytics/main.go
  coverage_analytics.out
  coverage_combined.out
  coverage_full.out
  coverage_internal_analytics.out
  coverage_internal_only.out
  coverage_total.out
  internal/analytics/handlers/analytics_handler_test.go
  internal/portal/db/user_repository_test.go
  tests/integration/review_skim_mode_test.go
Labels: type:tests

chore: require explicit user confirmation for pre-commit bypass
  scripts/git-commit-interactive.sh
Labels: none

chore: require explicit user confirmation for pre-commit bypass
  scripts/git-commit-interactive.sh
Labels: none

feat(analytics): implement dashboard UI with trends, anomalies, and exports (#014) (#16)
  apps/analytics/handlers/ui_handler.go
  apps/analytics/handlers/ui_handler_test.go
  apps/analytics/static/css/analytics.css
  apps/analytics/static/js/analytics.js
  apps/analytics/templates/components/anomaly_card.templ
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table.templ
  apps/analytics/templates/components/issues_table_templ.go
  apps/analytics/templates/dashboard.templ
  apps/analytics/templates/dashboard_templ.go
  apps/analytics/templates/layout.templ
  apps/analytics/templates/layout_templ.go
  apps/review/templates/analysis_templ.go
  apps/review/templates/home_templ.go
  apps/review/templates/layout_templ.go
  cmd/analytics/main.go
  coverage_analytics.out
  coverage_combined.out
  coverage_full.out
  coverage_internal_analytics.out
  coverage_internal_only.out
  coverage_total.out
  internal/portal/db/user_repository_test.go
  scripts/git-commit-interactive.sh
  tests/integration/review_skim_mode_test.go
Labels: type:tests

feat(analytics): implement dashboard UI with trends, anomalies, and exports (#014) (#16)
  apps/analytics/handlers/ui_handler.go
  apps/analytics/handlers/ui_handler_test.go
  apps/analytics/static/css/analytics.css
  apps/analytics/static/js/analytics.js
  apps/analytics/templates/components/anomaly_card.templ
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table.templ
  apps/analytics/templates/components/issues_table_templ.go
  apps/analytics/templates/dashboard.templ
  apps/analytics/templates/dashboard_templ.go
  apps/analytics/templates/layout.templ
  apps/analytics/templates/layout_templ.go
  apps/review/templates/analysis_templ.go
  apps/review/templates/home_templ.go
  apps/review/templates/layout_templ.go
  cmd/analytics/main.go
  coverage_analytics.out
  coverage_combined.out
  coverage_full.out
  coverage_internal_analytics.out
  coverage_internal_only.out
  coverage_total.out
  internal/portal/db/user_repository_test.go
  scripts/git-commit-interactive.sh
  tests/integration/review_skim_mode_test.go
Labels: type:tests

feat(015): implement logs dashboard UI with real-time WebSocket streaming
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table_templ.go
  apps/logs/handlers/ui_handler.go
  apps/logs/handlers/ui_handler_test.go
  apps/logs/static/css/logs.css
  apps/logs/static/js/logs.js
  apps/logs/static/js/websocket.js
  apps/logs/templates/dashboard.templ
  apps/logs/templates/dashboard_templ.go
  apps/logs/templates/layout.templ
  apps/logs/templates/layout_templ.go
  apps/portal/templates/dashboard_templ.go
  apps/portal/templates/layout_templ.go
  cmd/logs/main.go
  internal/analytics/db/aggregation_repository_test.go
  internal/analytics/db/log_reader_test.go
  tests/e2e/logs_dashboard.spec.ts
Labels: type:tests

feat(015): implement logs dashboard UI with real-time WebSocket streaming
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table_templ.go
  apps/logs/handlers/ui_handler.go
  apps/logs/handlers/ui_handler_test.go
  apps/logs/static/css/logs.css
  apps/logs/static/js/logs.js
  apps/logs/static/js/websocket.js
  apps/logs/templates/dashboard.templ
  apps/logs/templates/dashboard_templ.go
  apps/logs/templates/layout.templ
  apps/logs/templates/layout_templ.go
  apps/portal/templates/dashboard_templ.go
  apps/portal/templates/layout_templ.go
  cmd/logs/main.go
  internal/analytics/db/aggregation_repository_test.go
  internal/analytics/db/log_reader_test.go
  tests/e2e/logs_dashboard.spec.ts
Labels: type:tests

feat(015): implement logs dashboard UI with real-time WebSocket streaming (#17)
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table_templ.go
  apps/logs/handlers/ui_handler.go
  apps/logs/handlers/ui_handler_test.go
  apps/logs/static/css/logs.css
  apps/logs/static/js/logs.js
  apps/logs/static/js/websocket.js
  apps/logs/templates/dashboard.templ
  apps/logs/templates/dashboard_templ.go
  apps/logs/templates/layout.templ
  apps/logs/templates/layout_templ.go
  apps/portal/templates/dashboard_templ.go
  apps/portal/templates/layout_templ.go
  cmd/logs/main.go
  internal/analytics/db/aggregation_repository_test.go
  internal/analytics/db/log_reader_test.go
  tests/e2e/logs_dashboard.spec.ts
Labels: type:tests

feat(015): implement logs dashboard UI with real-time WebSocket streaming (#17)
  apps/analytics/templates/components/anomaly_card_templ.go
  apps/analytics/templates/components/issues_table_templ.go
  apps/logs/handlers/ui_handler.go
  apps/logs/handlers/ui_handler_test.go
  apps/logs/static/css/logs.css
  apps/logs/static/js/logs.js
  apps/logs/static/js/websocket.js
  apps/logs/templates/dashboard.templ
  apps/logs/templates/dashboard_templ.go
  apps/logs/templates/layout.templ
  apps/logs/templates/layout_templ.go
  apps/portal/templates/dashboard_templ.go
  apps/portal/templates/layout_templ.go
  cmd/logs/main.go
  internal/analytics/db/aggregation_repository_test.go
  internal/analytics/db/log_reader_test.go
  tests/e2e/logs_dashboard.spec.ts
Labels: type:tests

feat(016): Complete end-to-end integration with Playwright E2E tests and Docker setup
  .env.example
  cmd/analytics/main.go
  docker-compose.yml
  docker/nginx/nginx.conf
  playwright-report/index.html
  scripts/build-services.sh
  scripts/check-prerequisites.sh
  scripts/create-databases.sh
  scripts/health-checks.sh
  scripts/run-migrations.sh
  scripts/start-review.sh
  scripts/start-services.sh
  scripts/wait-for-postgres.sh
  setup.sh
  teardown.sh
  tests/e2e/full_user_flow.spec.ts
  tests/integration/database_test.go
  tests/integration/services_test.go
  tests/integration/setup_test.go
  verify-setup.sh
Labels: tech:docker, type:tests, type:config

feat(016): Complete end-to-end integration with Playwright E2E tests and Docker setup
  .env.example
  cmd/analytics/main.go
  docker-compose.yml
  docker/nginx/nginx.conf
  playwright-report/index.html
  scripts/build-services.sh
  scripts/check-prerequisites.sh
  scripts/create-databases.sh
  scripts/health-checks.sh
  scripts/run-migrations.sh
  scripts/start-review.sh
  scripts/start-services.sh
  scripts/wait-for-postgres.sh
  setup.sh
  teardown.sh
  tests/e2e/full_user_flow.spec.ts
  tests/integration/database_test.go
  tests/integration/services_test.go
  tests/integration/setup_test.go
  verify-setup.sh
Labels: tech:docker, type:tests, type:config

feat(016): Complete end-to-end integration with Playwright E2E tests and Docker setup (#18)
  .env.example
  cmd/analytics/main.go
  docker-compose.yml
  docker/nginx/nginx.conf
  playwright-report/index.html
  scripts/build-services.sh
  scripts/check-prerequisites.sh
  scripts/create-databases.sh
  scripts/health-checks.sh
  scripts/run-migrations.sh
  scripts/start-review.sh
  scripts/start-services.sh
  scripts/wait-for-postgres.sh
  setup.sh
  teardown.sh
  tests/e2e/full_user_flow.spec.ts
  tests/integration/database_test.go
  tests/integration/services_test.go
  tests/integration/setup_test.go
  verify-setup.sh
Labels: tech:docker, type:tests, type:config

feat(016): Complete end-to-end integration with Playwright E2E tests and Docker setup (#18)
  .env.example
  cmd/analytics/main.go
  docker-compose.yml
  docker/nginx/nginx.conf
  playwright-report/index.html
  scripts/build-services.sh
  scripts/check-prerequisites.sh
  scripts/create-databases.sh
  scripts/health-checks.sh
  scripts/run-migrations.sh
  scripts/start-review.sh
  scripts/start-services.sh
  scripts/wait-for-postgres.sh
  setup.sh
  teardown.sh
  tests/e2e/full_user_flow.spec.ts
  tests/integration/database_test.go
  tests/integration/services_test.go
  tests/integration/setup_test.go
  verify-setup.sh
Labels: tech:docker, type:tests, type:config

feat(mvp-e2e): Add comprehensive authentication & user journey E2E tests
  tests/e2e/authentication.spec.ts
Labels: type:tests

feat(mvp-e2e): Add comprehensive authentication & user journey E2E tests
  tests/e2e/authentication.spec.ts
Labels: type:tests

feat(mvp-e2e): Add comprehensive authentication & user journey E2E tests (#19)
  tests/e2e/authentication.spec.ts
Labels: type:tests

feat(mvp-e2e): Add comprehensive authentication & user journey E2E tests (#19)
  tests/e2e/authentication.spec.ts
Labels: type:tests

fix: Update nginx routing to properly proxy analytics API endpoints
  docker/nginx/nginx.conf
Labels: none

fix: Update nginx routing to properly proxy analytics API endpoints
  docker/nginx/nginx.conf
Labels: none

fix: Add GET support to analytics aggregate and export endpoints for validation
  .docs/devlog/copilot-activity.md
  internal/analytics/handlers/analytics_handler.go
Labels: type:docs

fix: Add GET support to analytics aggregate and export endpoints for validation
  .docs/devlog/copilot-activity.md
  internal/analytics/handlers/analytics_handler.go
Labels: type:docs

fix: Expose logs service routes and include static files in Docker image
  .docs/devlog/copilot-activity.md
  cmd/logs/Dockerfile
  cmd/logs/main.go
  docker/nginx/nginx.conf
  internal/analytics/handlers/analytics_handler.go
Labels: tech:docker, type:docs

fix: Expose logs service routes and include static files in Docker image
  .docs/devlog/copilot-activity.md
  cmd/logs/Dockerfile
  cmd/logs/main.go
  docker/nginx/nginx.conf
  internal/analytics/handlers/analytics_handler.go
Labels: tech:docker, type:docs

Fix portal authentication and docker validation script
  apps/portal/handlers/auth_handler.go
  apps/portal/handlers/auth_handler_test.go
  scripts/docker-validate.sh
Labels: none
