Repository mikejsmith1985/devsmith-modular-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: app:portal, app:review, app:logs, app:analytics, app:build, tech:frontend, tech:backend, tech:docker, tech:database, type:tests, type:docs, type:config, type:dependencies, infra:gateway, infra:ci-cd

.github/labeler.yml:

# Auto-labeling configuration for PRs based on files changed

# Apps
'app:portal':
  - changed-files:
    - any-glob-to-any-file: 'apps/platform-*/**'

'app:review':
  - changed-files:
    - any-glob-to-any-file: 'apps/review-*/**'

'app:logs':
  - changed-files:
    - any-glob-to-any-file: 'apps/logs-*/**'

'app:analytics':
  - changed-files:
    - any-glob-to-any-file: 'apps/analytics-*/**'

'app:build':
  - changed-files:
    - any-glob-to-any-file: 'apps/build-*/**'

# Tech stack
'tech:frontend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-frontend/**'

'tech:backend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-backend/**'

'tech:docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', '**/docker-compose.yml']

'tech:database':
  - changed-files:
    - any-glob-to-any-file: ['**/alembic/**', '**/models/**']

# Type
'type:tests':
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.*', '**/*.spec.*', '**/tests/**']

'type:docs':
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

'type:config':
  - changed-files:
    - any-glob-to-any-file: ['**/.github/**', '**/*.yml', '**/*.yaml', '**/*.json']

'type:dependencies':
  - changed-files:
    - any-glob-to-any-file: ['**/package.json', '**/package-lock.json', '**/requirements.txt']

# Infrastructure
'infra:gateway':
  - changed-files:
    - any-glob-to-any-file: 'gateway/**'

'infra:ci-cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

Issue #006: Review Service - Scan Mode (#5)
  .docs/DevSmithRoles.md
  .github/copilot-instructions.md
  DevsmithTDD.md
  cmd/review/handlers/review_handler.go
  cmd/review/main.go
  internal/review/models/review.go
  internal/review/services/interfaces.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config

docs(copilot): fix workflow order - branch FIRST, then read issue file
  .github/copilot-instructions.md
Labels: type:docs, type:config

docs(copilot): add pre-commit awareness section to reduce break/fix cycles
  .github/copilot-instructions.md
  .golangci.yml
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  cmd/analytics/main.go
  cmd/portal/handlers/auth_handler.go
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  cmd/review/main.go
  config/config.go
  go.mod
  go.sum
  internal/portal/db/user_repository.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/preview_service.go
  internal/review/services/scan_service.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config

docs(copilot): fix workflow order - branch FIRST, then read issue file
  .github/copilot-instructions.md
Labels: type:docs, type:config

chore: fix authifaces import path to package, resolve all revive linter warnings
  internal/portal/db/user_repository.go
  internal/portal/services/auth_service.go
Labels: none

chore: fix authifaces import path to package, resolve all revive linter warnings
  internal/portal/db/user_repository.go
  internal/portal/services/auth_service.go
Labels: none

docs(review): architectural review of Copilot's CI/CD fixes
  ARCHITECTURAL_REVIEW_COPILOT_FIXES.md
Labels: type:docs

docs(copilot): add pre-commit awareness section to reduce break/fix cycles
  .github/copilot-instructions.md
  .golangci.yml
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  cmd/analytics/main.go
  cmd/portal/handlers/auth_handler.go
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  cmd/review/main.go
  config/config.go
  go.mod
  go.sum
  internal/portal/db/user_repository.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/preview_service.go
  internal/review/services/scan_service.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config

docs(review): architectural review of Copilot's CI/CD fixes
  ARCHITECTURAL_REVIEW_COPILOT_FIXES.md
Labels: type:docs

Issue #007: Copilot Workflow Improvements & CI/CD Fix Reviews (#7)
  .github/copilot-instructions.md
  .golangci.yml
  ARCHITECTURAL_REVIEW_COPILOT_FIXES.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  cmd/analytics/main.go
  cmd/portal/handlers/auth_handler.go
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  cmd/review/main.go
  config/config.go
  go.mod
  go.sum
  internal/portal/db/user_repository.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/preview_service.go
  internal/review/services/scan_service.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config

Issue #007: Copilot Workflow Improvements & CI/CD Fix Reviews (#7)
  .github/copilot-instructions.md
  .golangci.yml
  ARCHITECTURAL_REVIEW_COPILOT_FIXES.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  cmd/analytics/main.go
  cmd/portal/handlers/auth_handler.go
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  cmd/review/main.go
  config/config.go
  go.mod
  go.sum
  internal/portal/db/user_repository.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/preview_service.go
  internal/review/services/scan_service.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config

chore(ci): remove pr-checks.yml - wrong architecture (React/Python)
  .github/workflows/pr-checks.yml
Labels: type:config, infra:ci-cd

chore(ci): remove pr-checks.yml - wrong architecture (React/Python)
  .github/workflows/pr-checks.yml
Labels: type:config, infra:ci-cd

docs: remove auto-create-pr workflow and update docs for manual PR creation
  .docs/DevSmithRoles.md
  .github/workflows/README.md
  .github/workflows/auto-create-pr.yml
  ARCHITECTURE.md
  DevSmithRoles.md
Labels: type:docs, type:config, infra:ci-cd

docs: remove auto-create-pr workflow and update docs for manual PR creation
  .docs/DevSmithRoles.md
  .github/workflows/README.md
  .github/workflows/auto-create-pr.yml
  ARCHITECTURE.md
  DevSmithRoles.md
Labels: type:docs, type:config, infra:ci-cd

chore(ci): delete pr-preview workflow and fix golangci-lint config
  .github/workflows/pr-preview.yml
  .golangci.yml
  go.mod
Labels: type:config, infra:ci-cd

chore(ci): delete pr-preview workflow and fix golangci-lint config
  .github/workflows/pr-preview.yml
  .golangci.yml
  go.mod
Labels: type:config, infra:ci-cd

fix: resolve issues in scan mode and improve error handling
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/review/handlers/review_handler.go
  cmd/review/handlers/review_handler_test.go
  cmd/review/main.go
  config/config.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/critical_service.go
  internal/review/services/critical_service_test.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/review_service.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests

fix: resolve issues in scan mode and improve error handling
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/review/handlers/review_handler.go
  cmd/review/handlers/review_handler_test.go
  cmd/review/main.go
  config/config.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/critical_service.go
  internal/review/services/critical_service_test.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/review_service.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests

fix: resolve pre-commit validation issues (formatting, imports, debugging statements)
  internal/review/models/review.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests

fix: resolve pre-commit validation issues (formatting, imports, debugging statements)
  internal/review/models/review.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests

Issue #008: Critical Mode Implementation (#8)
  .docs/DevSmithRoles.md
  .github/workflows/README.md
  .github/workflows/auto-create-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-preview.yml
  .golangci.yml
  ARCHITECTURE.md
  DevSmithRoles.md
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/review/handlers/review_handler.go
  cmd/review/handlers/review_handler_test.go
  cmd/review/main.go
  config/config.go
  go.mod
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/critical_service.go
  internal/review/services/critical_service_test.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/review_service.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config, infra:ci-cd

Issue #008: Critical Mode Implementation (#8)
  .docs/DevSmithRoles.md
  .github/workflows/README.md
  .github/workflows/auto-create-pr.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-preview.yml
  .golangci.yml
  ARCHITECTURE.md
  DevSmithRoles.md
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/review/handlers/review_handler.go
  cmd/review/handlers/review_handler_test.go
  cmd/review/main.go
  config/config.go
  go.mod
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/review/db/review_repository.go
  internal/review/models/review.go
  internal/review/services/critical_service.go
  internal/review/services/critical_service_test.go
  internal/review/services/detailed_service.go
  internal/review/services/detailed_service_test.go
  internal/review/services/review_service.go
  internal/review/services/scan_service.go
  internal/review/services/scan_service_test.go
  internal/review/services/skim_service.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:docs, type:config, infra:ci-cd

fix(logs): manually reorder LogEntry fields for optimal memory alignment\n\n- Resolved alignment issue flagged by golangci-lint\n- Verified with golangci-lint to ensure no further warnings
  cmd/portal/main.go
  cmd/review/main.go
  go.mod
  go.sum
  internal/logs/models/log.go
  tests/integration/logs_service_integration_test.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests

fix(logs): manually reorder LogEntry fields for optimal memory alignment\n\n- Resolved alignment issue flagged by golangci-lint\n- Verified with golangci-lint to ensure no further warnings
  cmd/portal/main.go
  cmd/review/main.go
  go.mod
  go.sum
  internal/logs/models/log.go
  tests/integration/logs_service_integration_test.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests

fix(ci): update PostgreSQL credentials in GitHub Actions workflow
  .github/workflows/test-and-build.yml
Labels: type:config, infra:ci-cd

fix(ci): update PostgreSQL credentials in GitHub Actions workflow
  .github/workflows/test-and-build.yml
Labels: type:config, infra:ci-cd

Fix CI job issues: resolved test failures, addressed linting, and ensured alignment optimizations
  .github/workflows/test-and-build.yml
  Idea-dump
  docker/postgres/init-schemas.sql
Labels: type:config, infra:ci-cd

Fix CI job issues: resolved test failures, addressed linting, and ensured alignment optimizations
  .github/workflows/test-and-build.yml
  Idea-dump
  docker/postgres/init-schemas.sql
Labels: type:config, infra:ci-cd

fix: remove lingering logs_service_integration_test and resolve test failures
  tests/integration/logs_service_integration_test.go
Labels: type:tests

fix: remove lingering logs_service_integration_test and resolve test failures
  tests/integration/logs_service_integration_test.go
Labels: type:tests

fix: add portal.users table creation to init-schemas.sql
  docker/postgres/init-schemas.sql
Labels: none

fix: add portal.users table creation to init-schemas.sql
  docker/postgres/init-schemas.sql
Labels: none

fix(schema): align portal.users table with User struct
  docker/postgres/init-schemas.sql
Labels: none

fix(schema): align portal.users table with User struct
  docker/postgres/init-schemas.sql
Labels: none

fix: add IF NOT EXISTS to role creation to prevent init script failure
  docker/postgres/init-schemas.sql
Labels: none

fix(logs): manually reorder LogEntry fields for optimal memory alignment (#9)
  .github/workflows/test-and-build.yml
  Idea-dump
  cmd/portal/main.go
  cmd/review/main.go
  docker/postgres/init-schemas.sql
  go.mod
  go.sum
  internal/logs/models/log.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:config, infra:ci-cd

fix(logs): manually reorder LogEntry fields for optimal memory alignment (#9)
  .github/workflows/test-and-build.yml
  Idea-dump
  cmd/portal/main.go
  cmd/review/main.go
  docker/postgres/init-schemas.sql
  go.mod
  go.sum
  internal/logs/models/log.go
  tests/integration/review_skim_mode_test.go
Labels: tech:database, type:tests, type:config, infra:ci-cd

feat(logs): implement WebSocket hub (GREEN phase)
  internal/logs/services/websocket_hub.go
  internal/logs/services/websocket_hub_test.go
Labels: none

feat(logs): implement WebSocket hub (GREEN phase)
  internal/logs/services/websocket_hub.go
  internal/logs/services/websocket_hub_test.go
Labels: none
