Repository mikejsmith1985/devsmith-modular-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: app:portal, app:review, app:logs, app:analytics, app:build, tech:frontend, tech:backend, tech:docker, tech:database, type:tests, type:docs, type:config, type:dependencies, infra:gateway, infra:ci-cd

.github/labeler.yml:

# Auto-labeling configuration for PRs based on files changed

# Apps
'app:portal':
  - changed-files:
    - any-glob-to-any-file: 'apps/platform-*/**'

'app:review':
  - changed-files:
    - any-glob-to-any-file: 'apps/review-*/**'

'app:logs':
  - changed-files:
    - any-glob-to-any-file: 'apps/logs-*/**'

'app:analytics':
  - changed-files:
    - any-glob-to-any-file: 'apps/analytics-*/**'

'app:build':
  - changed-files:
    - any-glob-to-any-file: 'apps/build-*/**'

# Tech stack
'tech:frontend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-frontend/**'

'tech:backend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-backend/**'

'tech:docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', '**/docker-compose.yml']

'tech:database':
  - changed-files:
    - any-glob-to-any-file: ['**/alembic/**', '**/models/**']

# Type
'type:tests':
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.*', '**/*.spec.*', '**/tests/**']

'type:docs':
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

'type:config':
  - changed-files:
    - any-glob-to-any-file: ['**/.github/**', '**/*.yml', '**/*.yaml', '**/*.json']

'type:dependencies':
  - changed-files:
    - any-glob-to-any-file: ['**/package.json', '**/package-lock.json', '**/requirements.txt']

# Infrastructure
'infra:gateway':
  - changed-files:
    - any-glob-to-any-file: 'gateway/**'

'infra:ci-cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'

refactor(ci): replace database-dependent CI with minimal build validation
  .github/workflows-disabled/README.md
  .github/workflows-disabled/test-and-build.yml
  .github/workflows-disabled/validate-migrations.yml
  .github/workflows/README.md
  .github/workflows/ci.yml
Labels: type:docs, type:config, infra:ci-cd

refactor(ci): replace database-dependent CI with minimal build validation
  .github/workflows-disabled/README.md
  .github/workflows-disabled/test-and-build.yml
  .github/workflows-disabled/validate-migrations.yml
  .github/workflows/README.md
  .github/workflows/ci.yml
Labels: type:docs, type:config, infra:ci-cd

fix(.gitignore): change logs/ to /logs/ to prevent ignoring cmd/logs/
  .gitignore
Labels: none

fix(.gitignore): change logs/ to /logs/ to prevent ignoring cmd/logs/
  .gitignore
Labels: none

fix(logs): resolve empty branch warnings\n\n- Added logging for errors in to address staticcheck warnings.
  cmd/logs/handlers/websocket_handler.go
  go.mod
  go.sum
Labels: none

fix(logs): resolve empty branch warnings\n\n- Added logging for errors in to address staticcheck warnings.
  cmd/logs/handlers/websocket_handler.go
  go.mod
  go.sum
Labels: none

fix(logs): export Client fields and add Register/Pump methods
  internal/logs/services/websocket_hub.go
  internal/logs/services/websocket_hub_test.go
Labels: none

fix(logs): export Client fields and add Register/Pump methods
  internal/logs/services/websocket_hub.go
  internal/logs/services/websocket_hub_test.go
Labels: none

fix(ci): skip building services without Go files (TDD RED phase)
  .github/workflows/ci.yml
Labels: type:config, infra:ci-cd

fix(ci): skip building services without Go files (TDD RED phase)
  .github/workflows/ci.yml
Labels: type:config, infra:ci-cd

Feature: WebSocket Logs Streaming (#10)
  .gitignore
  cmd/logs/handlers/websocket_handler.go
  go.mod
  go.sum
  internal/logs/services/websocket_hub.go
  internal/logs/services/websocket_hub_test.go
Labels: none

Feature: WebSocket Logs Streaming (#10)
  .gitignore
  cmd/logs/handlers/websocket_handler.go
  go.mod
  go.sum
  internal/logs/services/websocket_hub.go
  internal/logs/services/websocket_hub_test.go
Labels: none

docs(workflow): add comprehensive workflow enhancements to reduce V8 crashes and rework cycles
  .docs/AGENT_WORKFLOW_TEMPLATE.md
  .docs/INCREMENTAL_COMMIT_GUIDE.md
  .docs/PRE_COMMIT_CHECKLIST.md
  .docs/root_cause_analysis.md
Labels: type:docs

docs(workflow): add pre-implementation validation to prevent recurring issues
  .claude/README.md
  .docs/AGENT_WORKFLOW_TEMPLATE.md
  .docs/INCREMENTAL_COMMIT_GUIDE.md
  .docs/PRE_COMMIT_CHECKLIST.md
  .docs/root_cause_analysis.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
Labels: type:docs, type:config

Claude/fix v8 crash 011 cu lnuyv1 l uj zpdjn6yfi n (#12)
  .claude/README.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
Labels: type:docs, type:config

Claude/fix v8 crash 011 cu lnuyv1 l uj zpdjn6yfi n (#12)
  .claude/README.md
  .github/copilot-instructions.md
  ARCHITECTURE.md
Labels: type:docs, type:config

docs: add test mock implementation guidelines to copilot-instructions
  .github/copilot-instructions.md
Labels: type:docs, type:config

docs: add test mock implementation guidelines to copilot-instructions
  .github/copilot-instructions.md
Labels: type:docs, type:config

feat(hooks): enhance pre-commit hook with intelligent error reporting
  .claude/hooks/pre-commit
Labels: none

feat(hooks): enhance pre-commit hook with intelligent error reporting
  .claude/hooks/pre-commit
Labels: none

Claude auto-recovery checkpoint
  .claude/hooks/pre-commit
  .claude/recovery-logs/session-20251021.md
  .docs/devlog/copilot-activity.md
  .docs/root_cause_analysis.md
  cmd/analytics/main.go
  docs/root_cause_analysis.md
  go.mod
  go.sum
  internal/analytics/db/aggregation_repository.go
  internal/analytics/db/log_reader.go
  internal/analytics/db/migrations/20251019_001_create_aggregations_table.sql
  internal/analytics/db/migrations/20251019_002_create_trends_table.sql
  internal/analytics/db/migrations/20251019_003_create_anomalies_table.sql
  internal/analytics/db/repository.go
  internal/analytics/handlers/analytics_handler.go
  internal/analytics/interfaces.go
  internal/analytics/models/analytics.go
  internal/analytics/models/review.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/aggregator_service_test.go
  internal/analytics/services/anomaly_service.go
  internal/analytics/services/anomaly_service_test.go
  internal/analytics/services/export_service.go
  internal/analytics/services/export_service_test.go
  internal/analytics/services/output.csv
  internal/analytics/services/test_utils.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/top_issues_service_test.go
  internal/analytics/services/trend_service.go
  internal/analytics/services/trend_service_test.go
  internal/analytics/testutils/mock_aggregation_repository.go
  internal/analytics/testutils/test_utils.go
  internal/testutils/mock_aggregation_repository.go
  internal/testutils/mock_log_reader.go
  internal/testutils/test_utils.go
  scripts/test_template.go.tmpl
Labels: tech:database, type:docs

fix(hooks): update pre-commit parsers to match actual error output formats
  .claude/hooks/pre-commit
Labels: none

fix(hooks): update pre-commit parsers to match actual error output formats
  .claude/hooks/pre-commit
Labels: none

Claude auto-recovery checkpoint
  .claude/recovery-logs/session-20251021.md
  .docs/devlog/copilot-activity.md
  .docs/root_cause_analysis.md
  cmd/analytics/main.go
  docs/root_cause_analysis.md
  go.mod
  go.sum
  internal/analytics/db/aggregation_repository.go
  internal/analytics/db/log_reader.go
  internal/analytics/db/migrations/20251019_001_create_aggregations_table.sql
  internal/analytics/db/migrations/20251019_002_create_trends_table.sql
  internal/analytics/db/migrations/20251019_003_create_anomalies_table.sql
  internal/analytics/db/repository.go
  internal/analytics/handlers/analytics_handler.go
  internal/analytics/interfaces.go
  internal/analytics/models/analytics.go
  internal/analytics/models/review.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/aggregator_service_test.go
  internal/analytics/services/anomaly_service.go
  internal/analytics/services/anomaly_service_test.go
  internal/analytics/services/export_service.go
  internal/analytics/services/export_service_test.go
  internal/analytics/services/output.csv
  internal/analytics/services/test_utils.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/top_issues_service_test.go
  internal/analytics/services/trend_service.go
  internal/analytics/services/trend_service_test.go
  internal/analytics/testutils/mock_aggregation_repository.go
  internal/analytics/testutils/test_utils.go
  internal/testutils/mock_aggregation_repository.go
  internal/testutils/mock_log_reader.go
  internal/testutils/test_utils.go
  scripts/test_template.go.tmpl
Labels: tech:database, type:docs

Claude auto-recovery checkpoint
  .claude/recovery-logs/session-20251021.md
  .docs/devlog/copilot-activity.md
  .docs/root_cause_analysis.md
  cmd/analytics/main.go
  docs/root_cause_analysis.md
  go.mod
  go.sum
  internal/analytics/db/aggregation_repository.go
  internal/analytics/db/log_reader.go
  internal/analytics/db/migrations/20251019_001_create_aggregations_table.sql
  internal/analytics/db/migrations/20251019_002_create_trends_table.sql
  internal/analytics/db/migrations/20251019_003_create_anomalies_table.sql
  internal/analytics/db/repository.go
  internal/analytics/handlers/analytics_handler.go
  internal/analytics/interfaces.go
  internal/analytics/models/analytics.go
  internal/analytics/models/review.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/aggregator_service_test.go
  internal/analytics/services/anomaly_service.go
  internal/analytics/services/anomaly_service_test.go
  internal/analytics/services/export_service.go
  internal/analytics/services/export_service_test.go
  internal/analytics/services/output.csv
  internal/analytics/services/test_utils.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/top_issues_service_test.go
  internal/analytics/services/trend_service.go
  internal/analytics/services/trend_service_test.go
  internal/analytics/testutils/mock_aggregation_repository.go
  internal/analytics/testutils/test_utils.go
  internal/testutils/mock_aggregation_repository.go
  internal/testutils/mock_log_reader.go
  internal/testutils/test_utils.go
  scripts/test_template.go.tmpl
Labels: tech:database, type:docs

fix(hooks): strip ANSI codes from pre-commit output to prevent jq parse errors
  .github/copilot-instructions.md
Labels: type:docs, type:config

fix(hooks): strip ANSI codes from pre-commit output to prevent jq parse errors
  .github/copilot-instructions.md
Labels: type:docs, type:config

docs(copilot): add pre-commit hook output interpretation guide
  .claude/recovery-logs/session-20251018.md
  .claude/recovery-logs/session-20251021.md
  .docs/DevSmithRoles.md
  .docs/archived/000-aider-setup.md
  .docs/archived/CONTINUE-SETUP.md
  .docs/archived/devsmith-aider.sh
  .docs/devlog/AIDER-TASKS.md
  .docs/devlog/copilot-activity.md
  .docs/root_cause_analysis.md
  .github/copilot-instructions.md
  ARCHITECTURAL_REVIEW_COPILOT_FIXES.md
  ARCHITECTURE.md
  DevSmithRoles.md
  DevsmithTDD.md
  Requirements.md
Labels: type:docs, type:config

docs(copilot): add pre-commit hook output interpretation guide
  .claude/recovery-logs/session-20251018.md
  .claude/recovery-logs/session-20251021.md
  .docs/DevSmithRoles.md
  .docs/archived/000-aider-setup.md
  .docs/archived/CONTINUE-SETUP.md
  .docs/archived/devsmith-aider.sh
  .docs/devlog/AIDER-TASKS.md
  .docs/devlog/copilot-activity.md
  .docs/root_cause_analysis.md
  .github/copilot-instructions.md
  ARCHITECTURAL_REVIEW_COPILOT_FIXES.md
  ARCHITECTURE.md
  DevSmithRoles.md
  DevsmithTDD.md
  Requirements.md
Labels: type:docs, type:config

docs: add comprehensive pre-commit hook guide for human users
  .docs/PRE-COMMIT-HOOK.md
  README.md
Labels: type:docs

docs: add comprehensive pre-commit hook guide for human users
  .docs/PRE-COMMIT-HOOK.md
  README.md
Labels: type:docs

fix: resolve linting issues and finalize test fixes for analytics service
  internal/analytics/db/aggregation_repository.go
  internal/analytics/db/repository.go
  internal/analytics/handlers/analytics_handler.go
  internal/analytics/interfaces.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/aggregator_service_test.go
  internal/analytics/services/export_service.go
  internal/analytics/services/export_service_test.go
  internal/analytics/services/test_utils.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/top_issues_service_test.go
  internal/analytics/services/trend_service_test.go
  internal/analytics/testutils/mock_aggregation_repository.go
  internal/testutils/mock_aggregation_repository.go
  internal/testutils/mock_log_reader.go
  internal/testutils/test_utils.go
Labels: none

fix: resolve linting issues and finalize test fixes for analytics service
  internal/analytics/db/aggregation_repository.go
  internal/analytics/db/repository.go
  internal/analytics/handlers/analytics_handler.go
  internal/analytics/interfaces.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/aggregator_service_test.go
  internal/analytics/services/export_service.go
  internal/analytics/services/export_service_test.go
  internal/analytics/services/test_utils.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/top_issues_service_test.go
  internal/analytics/services/trend_service_test.go
  internal/analytics/testutils/mock_aggregation_repository.go
  internal/testutils/mock_aggregation_repository.go
  internal/testutils/mock_log_reader.go
  internal/testutils/test_utils.go
Labels: none

chore: stage and commit remaining changes
  Idea-dump
  internal/analytics/db/log_reader.go
  internal/analytics/models/analytics.go
  internal/analytics/models/review.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/anomaly_service.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/trend_service.go
Labels: tech:database

chore: stage and commit remaining changes
  Idea-dump
  internal/analytics/db/log_reader.go
  internal/analytics/models/analytics.go
  internal/analytics/models/review.go
  internal/analytics/services/aggregator_service.go
  internal/analytics/services/anomaly_service.go
  internal/analytics/services/top_issues_service.go
  internal/analytics/services/trend_service.go
Labels: tech:database

feat: add enhanced pre-commit hook system v2.1
  .docs/PRE-COMMIT-ENHANCEMENTS.md
  .pre-commit-config.yaml
  scripts/hooks/README.md
  scripts/hooks/pre-commit
  scripts/hooks/pre-commit-local.yaml.example
  scripts/install-hooks.sh
Labels: type:docs, type:config

feat: add enhanced pre-commit hook system v2.1
  .docs/PRE-COMMIT-ENHANCEMENTS.md
  .pre-commit-config.yaml
  scripts/hooks/README.md
  scripts/hooks/pre-commit
  scripts/hooks/pre-commit-local.yaml.example
  scripts/install-hooks.sh
Labels: type:docs, type:config

test: verify pre-commit hook runs without --no-verify
  .docs/DOCTOR-VS-SCRIPT-ANALYSIS.md
  .docs/PRE-COMMIT-PLATFORM-APP-ANALYSIS.md
  .docs/PRE-COMMIT-PLATFORM-INTEGRATION.md
  .docs/VALIDATOR-VS-SCRIPT-ANALYSIS.md
Labels: type:docs

test: verify pre-commit hook runs without --no-verify
  .docs/DOCTOR-VS-SCRIPT-ANALYSIS.md
  .docs/PRE-COMMIT-PLATFORM-APP-ANALYSIS.md
  .docs/PRE-COMMIT-PLATFORM-INTEGRATION.md
  .docs/VALIDATOR-VS-SCRIPT-ANALYSIS.md
Labels: type:docs

fix: resolve golangci-lint errors for CI
  apps/portal/handlers/auth_handler.go
  cmd/logs/main.go
  cmd/portal/main.go
  internal/common/debug/routes.go
  internal/review/db/review_repository_test.go
  tests/integration/dashboard_cookie_integration_test.go
  tests/integration/portal_login_integration_test.go
  tests/unit/middleware_jwt_auth_test.go
Labels: type:tests
