Repository mikejsmith1985/devsmith-modular-platform, changes with the labels that .github/labeler.yml gives for each.
All labels: app:portal, app:review, app:logs, app:analytics, app:build, tech:frontend, tech:backend, tech:docker, tech:database, type:tests, type:docs, type:config, type:dependencies, infra:gateway, infra:ci-cd

docs(workflow): standardize branch naming and workflow in ARCHITECTURE.md
  .docs/issues/001-copilot-project-scaffolding.md
  ARCHITECTURE.md
Labels: type:docs

docs(workflow): standardize branch naming and workflow in ARCHITECTURE.md
  .docs/issues/001-copilot-project-scaffolding.md
  ARCHITECTURE.md
Labels: type:docs

docs(claude): add project context file for claude.ai sessions
  .claude/project-context.md
Labels: type:docs

docs(claude): add project context file for claude.ai sessions
  .claude/project-context.md
Labels: type:docs

chore(scaffolding): add missing go.sum for Docker builds
  go.sum
Labels: none

feat(infra): add Docker infrastructure and service scaffolding
  .env.example
  .env.test
  Makefile
  cmd/analytics/Dockerfile
  cmd/analytics/main.go
  cmd/portal/Dockerfile
  cmd/portal/main.go
  cmd/review/Dockerfile
  cmd/review/main.go
  config/config.go
  docker-compose.dev.yml
  docker-compose.yml
  docker/nginx/nginx.conf
  docker/postgres/init-schemas.sql
  go.mod
  internal/portal/models/user.go
Labels: tech:docker, tech:database, type:config

docs(workflow): add devlog system and update Issue #001 specification
  .docs/devlog/2025-10-19.md
  .docs/devlog/README.md
  .docs/devlog/TEMPLATE.md
  .docs/issues/001-copilot-project-scaffolding.md
  .docs/issues/002-copilot-cicd-setup.md
  .docs/specs/000-aider-setup.md
  ARCHITECTURE.md
  DevSmithRoles.md
  devsmith-aider.sh
  devsmith-claude.sh
Labels: type:docs

docs(devlog): complete Session 2 with Issue #001 resolution
  .docs/devlog/2025-10-19.md
Labels: type:docs

docs(workflow): add comprehensive development workflow guide
  .docs/WORKFLOW-GUIDE.md
Labels: type:docs

feat(infra): complete project scaffolding and CI/CD setup (#1)
  .codecov.yml
  .docs/WORKFLOW-GUIDE.md
  .docs/devlog/2025-10-19.md
  .docs/devlog/AIDER-TASKS.md
  .docs/devlog/README.md
  .docs/devlog/TEMPLATE.md
  .docs/issues/001-copilot-project-scaffolding.md
  .docs/issues/002-copilot-cicd-setup.md
  .docs/specs/000-aider-setup.md
  .env.example
  .env.test
  .github/workflows/pr-preview.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-and-build.yml
  .github/workflows/validate-migrations.yml
  .gitignore
  .golangci.yml
  ARCHITECTURE.md
  DevSmithRoles.md
  Makefile
  cmd/analytics/Dockerfile
  cmd/analytics/main.go
  cmd/portal/Dockerfile
  cmd/portal/main.go
  cmd/review/Dockerfile
  cmd/review/main.go
  config/config.go
  devsmith-aider.sh
  devsmith-claude.sh
  docker-compose.dev.yml
  docker-compose.yml
  docker/nginx/nginx.conf
  docker/postgres/init-schemas.sql
  go.mod
  go.sum
  internal/portal/models/user.go
  scripts/dev.sh
  scripts/setup.sh
  scripts/test.sh
Labels: tech:docker, tech:database, type:docs, type:config, infra:ci-cd

feat(infra): complete project scaffolding and CI/CD setup (#1)
  .codecov.yml
  .docs/WORKFLOW-GUIDE.md
  .docs/devlog/2025-10-19.md
  .docs/devlog/AIDER-TASKS.md
  .docs/devlog/README.md
  .docs/devlog/TEMPLATE.md
  .docs/issues/001-copilot-project-scaffolding.md
  .docs/issues/002-copilot-cicd-setup.md
  .docs/specs/000-aider-setup.md
  .env.example
  .github/workflows/pr-preview.yml
  .github/workflows/security-scan.yml
  .github/workflows/test-and-build.yml
  .github/workflows/validate-migrations.yml
  .gitignore
  .golangci.yml
  ARCHITECTURE.md
  DevSmithRoles.md
  Makefile
  cmd/analytics/Dockerfile
  cmd/analytics/main.go
  cmd/portal/Dockerfile
  cmd/portal/main.go
  cmd/review/Dockerfile
  cmd/review/main.go
  config/config.go
  devsmith-aider.sh
  devsmith-claude.sh
  docker-compose.dev.yml
  docker-compose.yml
  docker/nginx/nginx.conf
  docker/postgres/init-schemas.sql
  go.mod
  go.sum
  internal/portal/models/user.go
  scripts/dev.sh
  scripts/setup.sh
  scripts/test.sh
Labels: tech:docker, tech:database, type:docs, type:config, infra:ci-cd

docs(issues): create Issue #003 for Copilot - Portal Authentication
  .docs/issues/003-copilot-portal-authentication.md
Labels: type:docs

docs(issues): create Issue #003 for Copilot - Portal Authentication
  .docs/issues/003-copilot-portal-authentication.md
Labels: type:docs

docs(issues): create Issue #004 - Review Service Foundation + Preview Mode
  .docs/issues/004-copilot-review-service-preview-mode.md
Labels: type:docs

docs(issues): create Issue #004 - Review Service Foundation + Preview Mode
  .docs/issues/004-copilot-review-service-preview-mode.md
Labels: type:docs

feat(portal): implement GitHub OAuth authentication
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/portal/templates/layout.templ
  cmd/portal/templates/login.templ
  go.mod
  go.sum
  internal/portal/db/migrations/20251018_001_create_users_table.sql
  internal/portal/db/migrations/20251018_002_create_sessions_table.sql
  internal/portal/db/user_repository.go
  internal/portal/db/user_repository_test.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/portal/services/github_client_test.go
Labels: tech:database

feat(portal): implement GitHub OAuth authentication
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/portal/templates/layout.templ
  cmd/portal/templates/login.templ
  go.mod
  go.sum
  internal/portal/db/migrations/20251018_001_create_users_table.sql
  internal/portal/db/migrations/20251018_002_create_sessions_table.sql
  internal/portal/db/user_repository.go
  internal/portal/db/user_repository_test.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/portal/services/github_client_test.go
Labels: tech:database

docs(issues): add critical warning about branch creation
  .docs/issues/003-copilot-portal-authentication.md
  .docs/issues/004-copilot-review-service-preview-mode.md
Labels: type:docs

docs(issues): add critical warning about branch creation
  .docs/issues/003-copilot-portal-authentication.md
  .docs/issues/004-copilot-review-service-preview-mode.md
Labels: type:docs

feat(ci): automate PR creation via GitHub Actions
  .docs/WORKFLOW-GUIDE.md
  .github/workflows/auto-create-pr.yml
  DevSmithRoles.md
Labels: type:docs, type:config, infra:ci-cd

feat(ci): automate PR creation via GitHub Actions
  .docs/WORKFLOW-GUIDE.md
  .github/workflows/auto-create-pr.yml
  DevSmithRoles.md
Labels: type:docs, type:config, infra:ci-cd

[Issue #003] Portal Authentication - GitHub OAuth (#2)
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/portal/templates/layout.templ
  cmd/portal/templates/login.templ
  go.mod
  go.sum
  internal/portal/db/migrations/20251018_001_create_users_table.sql
  internal/portal/db/migrations/20251018_002_create_sessions_table.sql
  internal/portal/db/user_repository.go
  internal/portal/db/user_repository_test.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/portal/services/github_client_test.go
Labels: tech:database

[Issue #003] Portal Authentication - GitHub OAuth (#2)
  cmd/portal/handlers/auth_handler.go
  cmd/portal/handlers/auth_handler_test.go
  cmd/portal/main.go
  cmd/portal/templates/layout.templ
  cmd/portal/templates/login.templ
  go.mod
  go.sum
  internal/portal/db/migrations/20251018_001_create_users_table.sql
  internal/portal/db/migrations/20251018_002_create_sessions_table.sql
  internal/portal/db/user_repository.go
  internal/portal/db/user_repository_test.go
  internal/portal/interfaces/auth_interface.go
  internal/portal/models/user.go
  internal/portal/services/auth_service.go
  internal/portal/services/auth_service_test.go
  internal/portal/services/github_client.go
  internal/portal/services/github_client_test.go
Labels: tech:database

docs(issues): create Issues #005-#010 for Review modes and Logs service
  .docs/issues/005-copilot-review-skim-mode.md
  .docs/issues/006-copilot-review-scan-mode.md
  .docs/issues/007-copilot-review-detailed-mode.md
  .docs/issues/008-copilot-review-critical-mode.md
  .docs/issues/009-copilot-logs-service-foundation.md
  .docs/issues/010-copilot-logs-websocket-streaming.md
Labels: type:docs

docs(issues): create Issues #005-#010 for Review modes and Logs service
  .docs/issues/005-copilot-review-skim-mode.md
  .docs/issues/006-copilot-review-scan-mode.md
  .docs/issues/007-copilot-review-detailed-mode.md
  .docs/issues/008-copilot-review-critical-mode.md
  .docs/issues/009-copilot-logs-service-foundation.md
  .docs/issues/010-copilot-logs-websocket-streaming.md
Labels: type:docs

docs(issues): create Issue #011 - Analytics Service Foundation
  .docs/issues/011-copilot-analytics-service-foundation.md
Labels: type:docs

docs(issues): create Issue #011 - Analytics Service Foundation
  .docs/issues/011-copilot-analytics-service-foundation.md
Labels: type:docs

fix(docker): update Dockerfiles to use Go 1.23-alpine
  cmd/analytics/Dockerfile
  cmd/logs/Dockerfile
  cmd/portal/Dockerfile
Labels: tech:docker

fix(docker): update Dockerfiles to use Go 1.23-alpine
  cmd/analytics/Dockerfile
  cmd/logs/Dockerfile
  cmd/portal/Dockerfile
Labels: tech:docker

feat(devlog): add automated Copilot activity logging system
  .claude/hooks/copilot-logger.sh
  .docs/devlog/LOGGING-SYSTEM.md
  .docs/devlog/copilot-activity.md
Labels: type:docs

feat(devlog): add automated Copilot activity logging system
  .claude/hooks/copilot-logger.sh
  .docs/devlog/LOGGING-SYSTEM.md
  .docs/devlog/copilot-activity.md
Labels: type:docs

feat(review): implement Preview Mode for Review service
  .docs/devlog/copilot-activity.md
  .docs/issues/TEMPLATE-COPILOT.md
  AI_CHANGELOG.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

feat(review): implement Preview Mode for Review service
  .docs/devlog/copilot-activity.md
  .docs/issues/TEMPLATE-COPILOT.md
  AI_CHANGELOG.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

docs(copilot): remove manual AI_CHANGELOG requirement, use automated logging
  .docs/devlog/copilot-activity.md
  .github/copilot-instructions.md
  AI_CHANGELOG.md
Labels: type:docs, type:config

docs(copilot): remove manual AI_CHANGELOG requirement, use automated logging
  .docs/devlog/copilot-activity.md
  .github/copilot-instructions.md
  AI_CHANGELOG.md
Labels: type:docs, type:config

feat(review): implement Preview Mode for Review service
  .docs/devlog/copilot-activity.md
  .docs/issues/TEMPLATE-COPILOT.md
  AI_CHANGELOG.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

feat(review): implement Preview Mode for Review service
  .docs/devlog/copilot-activity.md
  .docs/issues/TEMPLATE-COPILOT.md
  AI_CHANGELOG.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

chore: update copilot-activity.md from cherry-pick
  .docs/devlog/copilot-activity.md
Labels: type:docs

Revert "feat(review): implement Preview Mode for Review service"
  .docs/devlog/copilot-activity.md
  .docs/issues/TEMPLATE-COPILOT.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

Revert "feat(review): implement Preview Mode for Review service"
  .docs/devlog/copilot-activity.md
  .docs/issues/TEMPLATE-COPILOT.md
  apps/review/handlers/preview_mode_test.go
  apps/review/handlers/preview_ui_handler.go
  apps/review/templates/layout.templ
  apps/review/templates/preview.templ
  cmd/portal/main.go
  cmd/review/handlers/preview_handler.go
  docker-compose.yml
  internal/review/services/preview_service.go
  internal/review/services/preview_service_test.go
Labels: tech:docker, type:docs, type:config

.github/labeler.yml:

# Auto-labeling configuration for PRs based on files changed

# Apps
'app:portal':
  - changed-files:
    - any-glob-to-any-file: 'apps/platform-*/**'

'app:review':
  - changed-files:
    - any-glob-to-any-file: 'apps/review-*/**'

'app:logs':
  - changed-files:
    - any-glob-to-any-file: 'apps/logs-*/**'

'app:analytics':
  - changed-files:
    - any-glob-to-any-file: 'apps/analytics-*/**'

'app:build':
  - changed-files:
    - any-glob-to-any-file: 'apps/build-*/**'

# Tech stack
'tech:frontend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-frontend/**'

'tech:backend':
  - changed-files:
    - any-glob-to-any-file: 'apps/*-backend/**'

'tech:docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', '**/docker-compose.yml']

'tech:database':
  - changed-files:
    - any-glob-to-any-file: ['**/alembic/**', '**/models/**']

# Type
'type:tests':
  - changed-files:
    - any-glob-to-any-file: ['**/*.test.*', '**/*.spec.*', '**/tests/**']

'type:docs':
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**']

'type:config':
  - changed-files:
    - any-glob-to-any-file: ['**/.github/**', '**/*.yml', '**/*.yaml', '**/*.json']

'type:dependencies':
  - changed-files:
    - any-glob-to-any-file: ['**/package.json', '**/package-lock.json', '**/requirements.txt']

# Infrastructure
'infra:gateway':
  - changed-files:
    - any-glob-to-any-file: 'gateway/**'

'infra:ci-cd':
  - changed-files:
    - any-glob-to-any-file: '.github/workflows/**'
